<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div align="center">
    <div bgcolor="#3399ff" style="background-color: #424242;width:768px; height: 1024px;">
        <div style="padding-top: 25px;" align="center"> <img src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/lol/welcome_email/imgLogoBadge.png"/></div>
        <div align="center" style="width:678px; height: 120px">
            <div style="font-family: Gotham-Bold;
                font-size: 44px;
                color: white;
                line-height: 60px;
                text-align: center;";>WELCOME TO CROSSROADS</div>
            <div style="font-family: Georgia-Italic;
                font-style: italic;
                font-size: 44px;
                color: khaki;
                line-height: 60px;
                text-align: center;">for League of Legends</div>
        </div>
        <br/>
        <div style="font-family: Roboto-Regular;
                font-size: 20px;
                color: white;
                text-align: center;width:665px; height: 180px" align="center">
            <p align="center">
                Crossroads is a platform for connecting players to achieve maximum fun. It's completely free, lets you schedule your teams in advance, and automatically converts all time zones.
            </p>
        </div>
        <br/>
        <div align="center">
            <a href="https://geo.itunes.apple.com/us/app/crossroads-for-league-of-legends/id1195213970?mt=8" target="_blank">
                <img alt="Download on the App Store" src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/img/ios-app-store-image.png" width="175px">
            </a>
            <a href="https://play.google.com/store/apps/details?id=co.crossroadsapp.destiny" target="_blank">
                <img alt="Get it on Google Play" src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/img/android-play-store-image.png" width="175px">
            </a>
        </div>
    </div>
</div>
</body>
</html>