<!doctype html>
<html lang="en">
<head>
    <style>
        div.jumbotron {
            background-color: #424242;
            width: 768px;
            height: 1024px;
            margin: auto;
            position: relative;
        }

        div.imgLogo{
            height: 144px;
            width: 144px;
            position: absolute;
            left: 312px;
            top: 60px;
            margin: auto;
        }

        div.welcomeEmailTitleContainer {
            height: 120px;
            width: 678px;
            position: absolute;
            left: 45px;
            top: 229px;
            margin: auto;
        }

        div.welcomeEmailTitle1 {
            font-family: Gotham-Bold;
            font-size: 44px;
            color: white;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailTitle2 {
            font-family: Georgia-Italic;
            font-style: italic;
            font-size: 44px;
            color: khaki;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailText {
            font-family: Roboto-Regular;
            font-size: 20px;
            color: white;
            text-align: justify;
            position: absolute;
            left: 51px;
            top: 392px;
            width: 665.5px;
            height: 120px;
            margin: auto;
        }

        div.appStoreLinks {
            left: 214px;
            top: 560px;
            margin: auto;
        }

        div.googlePlayStoreLink {

        }

        div.applePlayStoreLink {
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

    <div class="jumbotron">
        <div class="imgLogo"> <img src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/lol/welcome_email/imgLogoBadge.png"/></div>
        <div class="welcomeEmailTitleContainer">
            <div class="welcomeEmailTitle1">WELCOME TO CROSSROADS</div>
            <div class="welcomeEmailTitle2">for League of Legends</div>
        </div>

        <div class="welcomeEmailText">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/>
                Lorem Ipsum has been the industry's standard dummy text ever since the <br/>
                1500s, when an unknown printer took a galley of type and scrambled it to <br/>
                make a type specimen book. It has survived not only five centuries, but <br/>
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>

        <div class ="appStoreLinks">
            <div class="googlePlayStoreLink">
                <a href="https://play.google.com/store/apps/details?id=co.crossroadsapp.destiny" target="_blank">
                    <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="175px">
                </a>
            </div>
            <div class="applePlayStoreLink">
                <a href="https://geo.itunes.apple.com/us/app/crossroads-fireteam-finder/id1119365654?mt=8" target="_blank">
                    <img alt="Download on the App Store" src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg" width="150px">
                </a>
            </div>
        </div>
    </div>
</body>

</html>